tinker panic 0
restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery

restrict 127.0.0.1
restrict -6 ::1
restrict {{ inventory_hostname }} mask {{ ntp_netmask }} nomodify

{% for server in top_ntp_servers %}
server {{ server }} burst iburst
{% endfor %}

driftfile /var/lib/ntp/drift

server 127.127.1.0
fudge  127.127.1.0 stratum 10
tos	orphan 7
